body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.hide {
  display: none;
}

.swag {
  background-color: red;
}

.swag:hover {
  background-color: black;
}

*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
   overflow: auto !important;
   width: 100vw;
   height: 100vh;
}
